
.auditor-report-title {
  padding-left: 30px;
}

.auditor-report-title.status-warning {
  background: url("images/message-24-warning.png") no-repeat left center;
}

.auditor-report-title.status-info {
  background: url("images/message-24-info.png") no-repeat left center;
}

.auditor-report-title.status-success {
  background: url("images/message-24-ok.png") no-repeat left center;
}

.auditor-report-title.status-error {
  background: url("images/message-24-error.png") no-repeat left center;
}

.auditor-report-instructions {
  font-size: 0.9em;
}

.auditor-report {
  margin-bottom: 2em;
}

td.auditor-empty-report {
  text-align: center;
}
